
/* .navv ul{
    margin: 0px;
      float: right;
      background: #00356B;
     
      width: 100%;
      height: 80px;
      text-align: right;
      padding: 10px;
  }
  .navv ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
  } */
  
  .tel{margin-top: 12px;
    margin-left: 0px;
    width: 90%;
  }
  .spec{
    margin-left: 10px;
    
    width: 50%;
  }
  .pass{
    margin-top: 22px;
    color: black;
  }
  .fille{
    margin:9px;
  
  }
  .RememberMe{
    display: inline-block;
  }
  .submitt{
    display: block !important;
  }
  .RememberMe input{
    
    float: left;
      margin: 7px;
  }
  .date{
    text-align: center;
      width: 100%;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid;
  }
  
  
  /* .navv ul li a{
    text-decoration:  none;
    color:white;
    padding: 6px 13px;
    font-size: 20px;
    transition: .4s;
    font-weight: bold;
    border-radius: 5px;
  } */
  
  .remember{
   
    float: left;
  }
  .forgot{
    float: right;
    margin-left:0px;
  color: grey;
  text-align: right;
  font-weight: bold;
  
  }
  
  /* .navv ul li a:hover{
    background:#1e88e5 ;
    border-radius: 5px;
  }
  
  * { margin: 0;
    padding: 0;
  
  } */
  .control{    margin-top: 15px;
    width: 100%;
    margin-left: 0px;}
  .appConta {
  /* background: url("./imgs/00sl-coronaanxiety-mediumSquareAt3X.jpg"); */
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
    
  }
  .pass{
    color: gray;
  }
  
  .lbl {
    background-color: #1773be;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
    margin-left: 40px;
  }
  
  #file-chosen{
    margin-left: 0.3rem;
    font-family: sans-serif;
  }
  
   .cars{
   
     display: inline-block;
     margin-left: 40px;
     border-radius: 4px;
     width: 52%;
     
  
  }
   
    
  .app-wrapper{
  background-color: white;
  
  
  opacity: 1;
      min-width: 350px;
      min-height: 650px;
      padding: 30px;
      box-sizing: border-box;
      margin: 18px auto;
      width: 527px;
      border-radius: 13px;
  }
  
  .title{
  color:#1773be;
  text-align: center;
  }
  
  .name,
  .email,
  .password{
    margin: 15px;
    color: #969292;
    font-size: 16px;
  
  }
  .check{
    font-weight: 400;
  }
  .ss{
    color: #0d47a1;
    font-size: 19px;
  }
  .namee,
  
  .passwordd{
    
    margin: 40px;
    color: #0d47a1;
    font-weight: bold;
    font-size: 16px;
  
  }
  .submitt{
    
      text-transform: uppercase;
    font-size: 20px;
    font-family: unset;
    border-radius: 15px;
    color: white;
    
    
    padding: 10px 40px;
    background: linear-gradient(#42a5f5, #64b5f6, #bbdefb);
    margin-top: 140px;
    width: 70%;
    margin-left: 60px;
    margin-bottom: 0;
    outline: none;
    border:none;
    cursor:pointer;
    transition: all 0.1s;
    box-shadow: rgba(0, 0,0 0.3)  0px 19px 38px, 
    rgba(0, 0,0 0.22) 0px 15px 12px; }
  
  
  .password{
    margin-bottom: 40px;
  }
  
  .input{
  height: 32px;
  font-size: 20px;
  outline: none;
  width: 100%;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: 2px solid black;
  margin-bottom: 10px;
  
  }
  
  
  .submit {
    display: block;
    text-transform: uppercase;
  font-size: 20px;
  margin: auto;
  border-radius: 15px;
  color: white;
  padding: 10px 40px;
  background: #1773be;
  border: 1px solid #42a5f5;
  
  width: 70%;
  outline: none;
  cursor:pointer;
  transition: all 0.7s;
  font-family: unset;
  
  }
  
  .submit:hover{
  
    background: #fff;
    border: 1px solid #42a5f5;
    color:#42a5f5;
  
  }
  
  #hh{color: #969292;
  margin: 20px;
  padding-left:60px;
  
  }
  
  .dat{
    padding: 3px 5px;
    width: 100%;
  }
  
  
  .rad{
  
    border: 2px dashed grey;
    margin: 5px;
    padding: 4px 6px;
  }
  .signn{
  color: #969292;
  text-align: center;
  padding: 7px;
  font-weight: bold;
  }
  .caption{
    display: inline-block;
    margin-left: 50px;
    
  }
  .capt{
    color: black;
    font-size: 18px;
    margin-top: 12px;
  }
  .nv{
    background-color: #969292;
  }
  .art{
    color: grey;
    font-size: 20px;
    
  }
  .captionn{
    display: inline-block;
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px !important;
  
   
  }
  
  .by{
    display: inline-block;
  
  margin-left: 25px;
  }
  .day{
    display: inline-block;
    margin-left: 25px;
  }
  .imgg{
    margin-left: 150px;
    border-radius: 40px!important;
    
  }
  
  /* .nav{
    background-color:bisque;
    display: inline-block;
    
    
    padding-left: 0;
    margin-bottom: 0;
    
  
  } */
  .book{
    margin: 15px;
      width: 100%;
      flex-wrap: wrap;
      padding-left: 0;
      margin-bottom: 0;
      padding: 10px;
      margin-top: 7px;
      border: 5px solid white;
      background-color: white;
      border-radius: 20px;
  }
  .til{
    font-size: 20px;
    font-weight: bold;
    color: darkred;
    margin-left: 20px;
    display: inline-block;
  }
  .symp{
    font-size: 40px;
    color: black;
   
   
  }
  
  .nava{
    width: 45%;
      float: left;
      margin: 9px;
      margin-left: 45px;
  
  }
  
  
  .appo{
    font-size: 35px;
    margin-left: 70px;
  }
  .imgd{
    display: inline-block;
  }
  
  .imgd img{
    float: left;
    border-radius: 60px;
  }
  
  
  .carousel{width:  80%;
    margin-left: 130px;
    margin-top: 60px;
    margin-bottom: 50px;
  
  
  
    }.carousel .carousel-item {
      height: 300px;
     
    }
  .card{    
      min-height: 550px;
      margin-bottom: 20px;
    }
    .btn{
  margin-left: 10px;
  margin-top: 10px;
  width: 140px;
     
    }
    .btm{
      margin-left: 20px;
  
  
      
    }
    .crt{
      min-height: 50px;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    
  .sub {
    display: block;
    text-transform: uppercase;
  font-size: 20px;
  margin: auto;
  border-radius: 15px;
  color: white;
  padding: 10px 40px;
  background: #1773be;
  border: 1px solid #42a5f5;
  margin-top: 20px;
  width: 25%;
  outline: none;
  cursor:pointer;
  transition: all 0.7s;
  font-family: unset;
  margin-bottom: 30px;
  
  }
  .car1{
    color: black;
    margin-top: 25px;
    text-align: left;
    font-weight: bold;
  }
  .car2{
    color: black;
    text-align: left;
  }
  .car4{
    color: black;
    text-align: left;
  }
  .sub:hover{
  
    background:#004F98;
    border: 1px solid #42a5f5;
    color:white;
  
  }
  
  .feedbk{
  
    font-size: 35px;
    font-weight: bold;
    color: #004F98;
    margin-left: 150px;
    margin-top: 20px;
  }
  .article{
    font-size: 42px;
    font-weight: bold;
    color: #004F98;
    margin-left: 150px;
    line-height: 75px;
   
  }