@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  
  font-family: "Quicksand";
  font-weight: 800;
  color: #333;
}
.sign {
  background-color: #1977f5;
}
/*
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #1977F5;
}
.navbar h1 {
  color: #1977F5;
  background-color: #f2f2f2;
}
.navbar .links {
  margin-left: auto;
  margin-right:20%;
  opacity:75%;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f2f2f2;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
} */